@import "bootstrap/scss/functions";


$azul-escuro: #2A4F5D;
$azul-muito-escuro: #1a323a;
$azul-pouco-claro: #3a6e81;
$off-white: #f0f2f5;
$font-weight-bold: 700 !default;

@import "bootstrap/scss/variables";
$theme-colors: map-merge(
  $theme-colors, // O mapa original de cores do Bootstrap
  (
    "azul-escuro": $azul-escuro,
    "azul-muito-escuro": $azul-muito-escuro,
    "azul-pouco-claro": $azul-pouco-claro,
    "off-white": $off-white,
  )
);

.nav-item {
    .nav-link {
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: $azul-pouco-claro;
        }
    }
}

.card {
    .card-title {
        a.text-azul-escuro {
            transition: color 0.3s ease;
            
            &:hover {
                color: $azul-muito-escuro !important;
            }
        }
    }
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease-in-out;
    
    &:hover {
        transform: translatey(-5px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        padding-bottom: 0.5rem !important;
    }

    .card-body {
        padding: 1rem;
    }
}


@import "bootstrap/scss/bootstrap";