@import "bootstrap/scss/functions";


$azul-escuro: #2A4F5D;
$azul-muito-escuro: #1a323a;
$cinza: #2c3e50;
$cinza-claro: #3e5870;
$off-white: #f0f2f5;

@import "bootstrap/scss/variables";
$theme-colors: map-merge(
  $theme-colors, // O mapa original de cores do Bootstrap
  (
    "azul-escuro": $azul-escuro,
    "azul-muito-escuro": $azul-muito-escuro,
    "off-white": $off-white,
    "cinza": $cinza,
    "cinza-claro": $cinza-claro,
  )
);

.nav-item {
    .nav-link {
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: $cinza-claro;
        }
    }
}

.card {
    .card-title {
        a.text-azul-escuro {
            transition: color 0.3s ease;
            
            &:hover {
                color: $azul-muito-escuro !important;
            }
        }
    }
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease-in-out;
    
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        padding: 1.5rem !important;
        .card-body {
            padding: 1.5rem !important;
            transition: padding 0.3s ease-in-out; 
        }
    }

    .card-body {
        padding: 1rem;
    }
}


@import "bootstrap/scss/bootstrap";