:root {
    --cor-azul-escuro-refop: #2A4F5D;
}

#igreja-decorativa-fundo {
    position: fixed;
    bottom: 4rem;
    right: 0;
    width: 32rem;
    height: 32rem;

    background-color: var(--cor-azul-escuro-refop);
    -webkit-mask-image: url('../img/igreja.svg');
    mask-image: url('../img/igreja.svg');
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    z-index: -999;
}